
<section class="covers" id="covers">
    <h2 class="covers__title hidden">Covers Section</h2>

    <ul class="covers__list">
        <li class="covers__item">
            <picture>
                <source srcset="../img/covers/cov-screen-1-1x.webp 1x, 
                                ../img/covers/cov-screen-1-2x.webp 2x" 
                        type="image/webp" />
                
                <!-- Дефолтне зображення для браузерів без підтримки WebP -->
                <img class="covers__img" src="../img/covers/cov-screen-1-1x.webp" 
                     alt="first screen">
            </picture>
        </li>
        <li class="covers__item">
            <picture>
                <source srcset="../img/covers/cov-screen-2-1x.webp 1x, 
                                ../img/covers/cov-screen-2-2x.webp 2x" 
                        type="image/webp" />
                
                <!-- Дефолтне зображення для браузерів без підтримки WebP -->
                <img class="covers__img" src="../img/covers/cov-screen-2-1x.webp" 
                     alt="first screen">
            </picture>
        </li>    
        <li class="covers__item">
            <picture>
                <source srcset="../img/covers/cov-screen-3-1x.webp 1x, 
                                ../img/covers/cov-screen-3-2x.webp 2x" 
                        type="image/webp" />
                
                <!-- Дефолтне зображення для браузерів без підтримки WebP -->
                <img class="covers__img" src="../img/covers/cov-screen-3-1x.webp" 
                     alt="first screen">
            </picture>
        </li>    
        <li class="covers__item">
            <picture>
                <source srcset="../img/covers/cov-screen-4-1x.webp 1x, 
                                ../img/covers/cov-screen-4-2x.webp 2x" 
                        type="image/webp" />
                
                <!-- Дефолтне зображення для браузерів без підтримки WebP -->
                <img class="covers__img" src="../img/covers/cov-screen-4-1x.webp" 
                     alt="first screen">
            </picture>
        </li>    
        <li class="covers__item">
            <picture>
                <source srcset="../img/covers/cov-screen-5-1x.webp 1x, 
                                ../img/covers/cov-screen-5-2x.webp 2x" 
                        type="image/webp" />
                
                <!-- Дефолтне зображення для браузерів без підтримки WebP -->
                <img class="covers__img" src="../img/covers/cov-screen-5-1x.webp" 
                     alt="first screen">
            </picture>
        </li>   
        <li class="covers__item">
            <picture>
                <source srcset="../img/covers/cov-screen-6-1x.webp 1x, 
                                ../img/covers/cov-screen-6-2x.webp 2x" 
                        type="image/webp" />
                
                <!-- Дефолтне зображення для браузерів без підтримки WebP -->
                <img class="covers__img" src="../img/covers/cov-screen-6-1x.webp" 
                     alt="first screen">
            </picture>
        </li>   
        <li class="covers__item">
            <picture>
                <source srcset="../img/covers/cov-screen-7-1x.webp 1x, 
                                ../img/covers/cov-screen-7-2x.webp 2x" 
                        type="image/webp" />
                
                <!-- Дефолтне зображення для браузерів без підтримки WebP -->
                <img class="covers__img" src="../img/covers/cov-screen-7-1x.webp" 
                     alt="first screen">
            </picture>
        </li>   
        <li class="covers__item">
            <picture>
                <source srcset="../img/covers/cov-screen-8-1x.webp 1x, 
                                ../img/covers/cov-screen-8-2x.webp 2x" 
                        type="image/webp" />
                
                <!-- Дефолтне зображення для браузерів без підтримки WebP -->
                <img class="covers__img" src="../img/covers/cov-screen-8-1x.webp" 
                     alt="first screen">
            </picture>
        </li>   
        <li class="covers__item">
            <picture>
                <source srcset="../img/covers/cov-screen-9-1x.webp 1x, 
                                ../img/covers/cov-screen-9-2x.webp 2x" 
                        type="image/webp" />
                
                <!-- Дефолтне зображення для браузерів без підтримки WebP -->
                <img class="covers__img" src="../img/covers/cov-screen-9-1x.webp" 
                     alt="first screen">
            </picture>
        </li>   
        <li class="covers__item">
            <picture>
                <source srcset="../img/covers/cov-screen-10-1x.webp 1x, 
                                ../img/covers/cov-screen-10-2x.webp 2x" 
                        type="image/webp" />
                
                <!-- Дефолтне зображення для браузерів без підтримки WebP -->
                <img class="covers__img" src="../img/covers/cov-screen-10-1x.webp" 
                     alt="first screen">
            </picture>
        </li>  
    </ul>
</section>