<header class="header">
  <div class="container">
    <a href="../index.html" class="header-logo-wrap">
      <img
        class="header-logo-img"
        src="../img/header/header-img@1x.webp"
        srcset="
          ../img/header/header-img@1x.webp 1x,
          ../img/header/header-img@2x.webp 2x
        "
        alt="logo-jeferson"
        width="80"
        height="80"
      />
      <p class="header-logo-text">jefferson*</p>
    </a>

    <div class="header-menu-wrap">
      <div class="header-menu">
        <p class="header-menu-text">Menu</p>
      </div>
      <nav class="header-menu-nav">
        <ul class="header-menu-list">
          <li class="header-menu-item">
            <a href="../index.html#about-me" class="header-menu-link"
              >About me</a
            >
          </li>
          <li class="header-menu-item">
            <a href="../index.html#benefits" class="header-menu-link"
              >Benefits</a
            >
          </li>
          <li class="header-menu-item">
            <a href="../index.html#projects" class="header-menu-link"
              >Projects</a
            >
          </li>
          <li class="header-menu-item">
            <a href="../index.html#fag" class="header-menu-link">FAQ</a>
          </li>
        </ul>
      </nav>
    </div>
    <a href="../index.html#work-together" class="header-link"
      >Order the project</a
    >
    <div class="header-burger-wrap">
      <svg class="header-burger-svg" width="21" height="21">
        <use href="/img/icons.svg#icon-menu"></use>
      </svg>
    </div>
  </div>
</header>

<div class="header-modal">
  <div class="header-modal-container">
    <svg class="header-modal-svg" width="14" height="14">
      <use href="/img/icons.svg#icon-x"></use>
    </svg>
    <nav class="header-modal-menu-nav">
      <ul class="header-modal-menu-list">
        <li class="header-modal-menu-item">
          <a href="../index.html#about-me" class="header-modal-menu-link"
            >About me</a
          >
        </li>
        <li class="header-modal-menu-item">
          <a href="../index.html#benefits" class="header-modal-menu-link"
            >Benefits</a
          >
        </li>
        <li class="header-modal-menu-item">
          <a href="../index.html#projects" class="header-modal-menu-link"
            >Projects</a
          >
        </li>
        <li class="header-modal-menu-item">
          <a href="../index.html#fag" class="header-modal-menu-link">FAQ</a>
        </li>
      </ul>
    </nav>
    <a href="../index.html#work-together" class="header-modal-link"
      >Order the project</a
    >
  </div>
</div>
