<header class="header">
  <div class="container">
    <a class="header-logo-wrap">
      <img
        class="header-logo-img"
        src="../img/header/header-img@1x.webp"
        srcset="
          ../img/header/header-img@1x.webp 1x,
          ../img/header/header-img@2x.webp 2x
        "
        alt="logo-jeferson"
        width="80"
        height="80"
      />
      <p class="header-logo-text">jefferson*</p>
    </a>

    <p class="header-menu">Menu</p>

    <a href="" class="header-link">Order the project</a>
  </div>
</header>
