<!DOCTYPE html>
<html lang="en">
<body>
<main>  
<div class="projects-section" id="projects">
    <div class="conteiner">
<h2 class="projects-title">Projects</h2>
    <div class="swiper-container">
      <ul class="swiper-wrapper">
        <li class="swiper-slide project-card">
          <div class="project-content">
            <div class="project-tags">
              <span class="tag">#react</span>
              <span class="tag">#js</span>
              <span class="tag">#node js</span>
              <span class="tag">#git</span>
            </div>
            <h3 class="project-title-in">Programming Across Borders: Ideas, Technologies, Innovations</h3>
            <a href="https://github.com/team/project" class="project-button" target="_blank" rel="noopener noreferrer">See project</a>
          </div>

          <div class="project-image-wrapper">
            <picture class="project-image">
              <source srcset="img/projects/1-1x-des.webp 1x, img/projects/1-2x-des.webp 2x" media="(min-width: 768px)">
              <source srcset="img/projects/1-1x-mob.webp 1x, img/projects/1-2x-mob.webp 2x" media="(max-width: 767px)">
              <img src="img/projects/1-1x-mob.webp" alt="Project preview">
            </picture>
          </div>
        </li>

        <li class="swiper-slide project-card">
          <div class="project-content">
            <div class="project-tags">
              <span class="tag">#react</span>
              <span class="tag">#js</span>
              <span class="tag">#node js</span>
              <span class="tag">#git</span>
            </div>
            <h3 class="project-title-in">Programming Across Borders: Ideas, Technologies, Innovations</h3>
            <a href="https://github.com/team/project" class="project-button" target="_blank" rel="noopener noreferrer">See project</a>
          </div>

          <div class="project-image-wrapper">
            <picture class="project-image">
              <source srcset="img/projects/2-1x-des.webp 1x, img/projects/2-2x-des.webp 2x" media="(min-width: 768px)">
              <source srcset="img/projects/2-1x-mob.webp 1x, img/projects/2-2x-mob.webp 2x" media="(max-width: 767px)">
              <img src="img/projects/2-1x-mob.webp" alt="Project preview">
            </picture>
          </div>
        </li>

        <li class="swiper-slide project-card">
          <div class="project-content">
            <div class="project-tags">
              <span class="tag">#react</span>
              <span class="tag">#js</span>
              <span class="tag">#node js</span>
              <span class="tag">#git</span>
            </div>
            <h3 class="project-title-in">Programming Across Borders: Ideas, Technologies, Innovations</h3>
            <a href="https://github.com/team/project" class="project-button" target="_blank" rel="noopener noreferrer">See project</a>
          </div>

          <div class="project-image-wrapper">
            <picture class="project-image">
              <source srcset="img/projects/3-1x-des.webp 1x, img/projects/3-2x-des.webp 2x" media="(min-width: 768px)">
              <source srcset="img/projects/3-1x-mob.webp 1x, img/projects/3-2x-mob.webp 2x" media="(max-width: 767px)">
              <img src="img/projects/3-1x-mob.webp" alt="Project preview">
            </picture>
          </div>
        </li>
      </ul>
    </div>
    <div class="swiper-navigation">
      <button class="swiper-button-prev" aria-label="Previous project">
          <svg width="24" height="24">
              <use href="img/icons.svg#icon-arrow-narrow-left"></use>
          </svg>
      </button>
      <button class="swiper-button-next" aria-label="Next project">
          <svg width="24" height="24">
              <use href="img/icons.svg#icon-arrow-narrow-right"></use>
          </svg>
      </button>
  </div>
  </div>
  </div>
  </section>
</main>
</body>
</html>
