<footer class="work-together" id="work-together">
  <div class="container">
    <div class="footer-title">
      <picture>
        <source
          media="(min-width: 768px)"
          srcset="
            /img/work-together/imagelaptop1x.webp 1x,
            /img/work-together/imagelaptop2x.webp 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            /img/work-together/imagemobaile1x.webp 1x,
            /img/work-together/imagemobaile2x.webp 2x
          "
        />
        <img
          src="/img/work-together/imagemobaile1x.webp"
          alt="User Photo"
          class="avatar"
        />
      </picture>
      <p class="footer-title-text">
        LET’S <span class="footer-highlight">WORK</span>
      </p>
    </div>
    <p class="footer-together">together</p>
    <form class="footer-form" id="contact-form">
      <label for="email" class="footer-label footer-mail-input">
        <input
          type="email"
          id="email"
          name="email"
          class="footer-input"
          placeholder="clients@gmail.com"
          required
        />
      </label>
      <label for="comment" class="footer-label">
        <input
          type="text"
          id="comment"
          name="comment"
          class="footer-input"
          placeholder="Your comments"
          required
        />
      </label>
      <button class="footer-send-btn" type="submit">Send</button>
    </form>
    <div class="footer-contact-details">
      <a class="footer-email-btn" href="mailto:lloydjefferson@gmail.com">
        lloydjefferson@gmail.com
      </a>
      <a class="footer-phone-btn" href="tel:+380111111111">+380 11 1111 111</a>
    </div>
  </div>
</footer>
