<section class="work-together">
  <div class="container">
    <div class="footer-title">
      <img
        src="../img/work-together/image1xlaptop.webp"
        alt="User Photo"
        class="avatar"
      />
      <p class="footer-title-text">
        LET’S <span class="footer-highlight">WORK</span>
      </p>
    </div>
    <div class="footer-title-together">
      <p class="footer-together">together</p>
    </div>
    <div class="footer-contact-info">
      <p class="footer-contact">clients@gmail.com</p>
      <svg class="modal-icon" width="18" height="24">
        <use href="../img/icons.svg"></use>
      </svg>
      <p class="footer-contact">comments</p>
      <svg class="modal-icon" width="18" height="24">
        <use href=""></use>
      </svg>
      <button class="footer-send-btn">Send</button>
    </div>
    <div class="footer-contact-details">
      <a class="footer-email-btn" href="mailto:lloydjefferson@gmail.com"
        >lloydjefferson@gmail.com</a
      >
      <a class="footer-phone-btn" href="tell:+380111111111">+380 11 1111 111</a>
    </div>
  </div>
</section>
