.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.about-me {
    margin-top: 64px;
    margin-bottom: 64px;
}

@media only screen and (min-width: 768px) {
    .about-me {
        margin-bottom: 96px;
    }
}

@media only screen and (min-width: 1440px) {
    .about-me {
        margin-bottom: 164px;
    }
}

.about-me-description {
    display: flex;
    gap: 16px;
    flex-direction: column;
    margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {
    .about-me-description {
        margin-bottom: 64px;
    }
}

@media only screen and (min-width: 1440px) {
    .about-me-description {
        flex-direction: row;
        margin-bottom: 96px;
    }
}

.description-text-wrapper {
    border-radius: 24px;
    height: 500px;
    padding: 32px 32px 0 32px;
    background: var(--cards);
}

@media only screen and (min-width: 768px) {
    .description-text-wrapper {
        height: 700px;
        padding: 64px 64px 0 64px;
    }
}

@media only screen and (min-width: 1440px) {
    .description-text-wrapper {
        width: 680px;
    }
}

.description-text {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: var(--main-text);
}

@media only screen and (min-width: 768px) {
    .description-text {
        font-size: 38px;
        line-height: 1.05;
    }
}

.description-text-red {
    color: var(--red-accent);
}

.description-text-grey {
    color: rgba(250, 250, 250, 0.4);
}

.about-me-img {
    border-radius: 24px;
}

@media only screen and (min-width: 768px) {
    .about-me-img {
        width: 704px;
        height: 700px;
    }
}

@media only screen and (min-width: 1440px) {
    .about-me-img {
        width: 680px;
    }
}

.accordion-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {
    .accordion-container {
        margin-bottom: 64px;
    }
}

@media only screen and (min-width: 1440px) {
    .accordion-container {
        margin-bottom: 96px;
    }
}

.ac-panel {
    line-height: 1.5;
    letter-spacing: -0.02em;
    max-height: 0;
    visibility: hidden;
    overflow: hidden;
}

@media only screen and (min-width: 1440px) {
    .ac-panel {
        padding-left: 696px;
    }
}

.about-acc-list.is-active .ac-panel {
    visibility: visible;
}

.about-acc-list.open .ac-panel {
    display: block;
}

.about-acc-list.is-active .ac-panel {
    max-height: 720px;
}

.about-acc-list {
    padding-bottom: 20px;
    border-bottom: solid 1px #242527;
}

@media only screen and (min-width: 768px) {
    .about-acc-list {
        padding-bottom: 32px;
    }
}

.about-acc-list:not(:first-child) {
    padding-top: 20px;
}

@media only screen and (min-width: 768px) {
    .about-acc-list:not(:first-child) {
        padding-top: 32px;
    }
}

.about-acc-list.is-active .show-btn-icon {
    transform: rotate(180deg);
}

.about-acc-title {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: rgba(250, 250, 250, 0.4);
    margin-bottom: 12px;
}

.information-text-item-first {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: var(--main-text);
    margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {
    .information-text-item-first {
        margin-bottom: 16px;
    }
}

@media only screen and (min-width: 1440px) {
    .information-text-item-first {
        max-width: 612px;
    }
}

.information-text-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: var(--main-text);
}

@media only screen and (min-width: 1440px) {
    .information-text-item {
        max-width: 620px;
    }
}

.about-acc-text-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: var(--main-text);
    margin-bottom: 10px;
    max-width: 465px;
}

.about-acc-text-item:first-child {
    max-width: 369px;
}

.ac-trigger {
    display: flex;
    justify-content: space-between;
    align-items: start;
    border: none;
    padding: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--transparent-text-color);
    background-color: transparent;
    cursor: auto;
    border: 1px solid rgba(250, 250, 250, 0.2);
        border-radius: 100px;
        padding: 9px;
        width: 36px;
        height: 36px;
}

@media only screen and (min-width: 768px) {
    .ac-trigger {
        width: 40px;
        height: 40px;
    }
}

.ac-trigger:active {
    border: 1px solid rgba(250, 250, 250, 0.5);
    transition: color 0.3s ease-in-out;
}

.show-btn-icon {
    stroke: #fafafa;
}

@media screen and(min-width:768px) {
    .show-btn-icon {
            width: 20px;
            height: 20px;
        }
}

.about-swiper-container {
    max-height: 130px;
    margin-top: 32px;
    padding-right: 84px;
    position: relative;
}

@media (min-width: 768px) {
    .about-swiper-container {
        max-height: 200px;
        margin-top: 64px;
        padding-right: 104px;
    }
}

@media (min-width: 1440px) {
    .about-swiper-container {
        margin-top: 96px;
        padding-right: 144px;
    }

    .about-swiper-container .about-me-swiper__slide.additional {
        display: flex;
    }
}

.about-swiper-container .about-me-swiper__wrapper {
    display: flex;
}

.about-swiper-container .about-me-swiper__slide {
    height: calc(50vw - 58px);
    border: 1px solid #fafafa33;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease;
}

@media (min-width: 768px) {
    .about-swiper-container .about-me-swiper__slide {
        width: 200px;
        height: 200px;
    }
}

.about-swiper-container .about-me-swiper__slide span {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #fafafa;
}

@media (min-width: 768px) {
    .about-swiper-container .about-me-swiper__slide span {
        font-size: 20px;
    }
}

.current-skill {
    background-color: #ed3b44;
    border: none;
}

.about-me-swiper__next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    cursor: pointer;
}

@media (min-width: 768px) {
    .about-me-swiper__next {
        width: 40px;
        height: 40px;
    }
}

.about-me-swiper__next svg {
    width: 100%;
    height: 100%;
    stroke: #3b3b3b;
    fill: none;
}