.container-benefits {
    margin-bottom: 64px;
    background: var(--background);
}
    @media screen and (min-width: 768px) {
        .container-benefits {
            margin-bottom: 96px;
        } 
    }
    @media screen and (min-width: 1440px) {
        .container-benefits {
            margin-bottom: 164px;
        } 
    }
.benefits-block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
    @media screen and (min-width: 768px) {
        .benefits-block {
            
        }
    }
    @media screen and (min-width: 1440px) {
        .benefits-block {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }   
    }
.title-benefits {
    font-family: var(--font-semibold);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--main-text);
    opacity: 0.4;
    margin-bottom: 32px;
}
    @media screen and (min-width: 768px) {
        .title-benefits {
        }
    }
    @media screen and (min-width: 1440px)  {
        .title-benefits {
            margin-bottom: 651px;
        }
    }
.content {
    width: 100%;
    height: 1215px;
}
    @media screen and (min-width: 768px) {
        .content {
            width: 704px;
            height: 675px;
        }
    }
    @media screen and (min-width: 1440px)  {
        .content {
            width: 680px;
            height: 675px;
            display: flex;
            flex-direction: column;
        }
    }
.content-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 32px;
}
    @media screen and (min-width: 768px) {
        .content-list {
        flex-direction: row;
        margin-bottom: 64px;
        }
    }
    @media screen and (min-width: 1440px)  {
        .content-list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }
.content-list-item {
    border-radius: 20px;
    height: auto;
    background: var(--cards);
    padding: 24px;
    display: flex;
    flex-direction: column;
    flex-wrap: ;
}
    @media screen and (min-width: 768px) {
        .content-list-item {
        padding: 24px;
        width: 344px;
        }
    }
    @media screen and (min-width: 1440px)  {
        .content-list-item {
            width: 332px; 
        }
    }
.icon-block {
    border-radius: 10px;
    width: 48px;
    height: 48px;
    background: var(--red-accent);
    margin-bottom: 64px;
    display: flex;
    align-items: center;
    justify-content: center;

}
    @media screen and (min-width: 768px) {
        .icon-block {

        }
    }
    @media screen and (min-width: 1440px)  {
        .icon-block {

        }
    }
.content-icon {
    fill: transparent;
    stroke: var(--main-text);
    
}
@media screen and (min-width: 768px) {
    .content-icon {
    
    }
}
@media screen and (min-width: 1440px) {
    .content-icon {
    
    }
}
.subtitle-content {
    font-family: var(--font-medium);
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: var(--main-text);
    margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
    .subtitle-content {
    }
}
@media screen and (min-width: 1440px) {
    .subtitle-content {
    }
}
.content-text {
    font-family: var(--font-semibold);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: var(--main-text);
    opacity: 0.6;
}
@media screen and (min-width: 768px) {
    .content-text {

    }
}
@media screen and (min-width: 1440px) {
    .content-text {
        
    }
}
.content-btn {
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 60px;
    width: 187px;
    height: 55px;
    background: transparent;
    font-family: var(--font-medium);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #fafafa;
    
}
@media screen and (min-width: 768px) {
    .content-btn { 
    }
}
@media screen and (min-width: 1440px) {
    .content-btn {
    }
}
.content-link {
    
}
@media screen and (min-width: 768px) {
    .content-link {
    
    }
}
@media screen and (min-width: 1440px) {
    .content-link {
    
    }
}