.header {
  position: absolute;
  background-color: transparent;
  width: 100%;
  top: 32px;
}

html {
  scroll-behavior: smooth;
}

.header .container {
  display: flex;
  justify-content: space-between;
}

.header-logo-wrap {
  display: flex;
  gap: 8px;
  cursor: pointer;
}

.header-logo-img {
  border-radius: 19px;
}

.header-logo-text {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.02em;
}

.header-menu-wrap {
  display: none;
}

.header-link {
  display: none;
}

.header-burger-wrap {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header-burger-svg {
  stroke: aliceblue;
  transition: transform 0.3s ease, stroke 0.3s ease;
}

.header-burger-wrap:hover .header-burger-svg {
  transform: scale(1.1);
  stroke: var(--red-accent);
}

@media only screen and (min-width: 768px) {
  .header-menu {
    padding: 10px;
    width: 67px;
    height: 39px;
    cursor: pointer;
  }

  .header-menu-text {
    font-weight: 500;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 3px;
  }

  .header-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    height: 100%;
    border-radius: 60px;
    padding: 18px 24px;
    background-color: var(--red-accent);
    transition: background-color 0.3s ease;
  }

  .header-link:hover,
  .header-link:focus {
    background-color: #e0373f;
  }

  .header-menu-wrap {
    display: block;
    position: relative;
  }

  .header-menu-nav {
    position: absolute;
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .header-menu-list {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }
  .header-menu-item {
    display: flex;
    justify-content: center;
  }
  .header-menu-link {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    position: relative;
    display: inline-block;
    transition: color 0.3s ease;
  }

  .header-menu-link:hover,
  .header-menu-link:focus {
    color: var(--red-accent);
  }

  .header-menu-link::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--red-accent);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-in-out;
  }

  .header-menu-link:hover::after,
  .header-menu-link:focus::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .is-visible {
    display: flex;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  .header-burger-wrap {
    display: none;
  }
}

/* ===================MENU================= */

.header-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateY(-100px);
  pointer-events: none;
  transition: transform 0.3s ease, opacity 0.3s ease;
  z-index: 999;
  background-image: url(/img/header/glass-background@2x.webp),
    url(/img/header/main-background@2x.webp);
 
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .header-modal {
  }
}

.header-modal-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 32px 16px;
}

.header-modal-svg {
  margin-left: auto;
  stroke: #fafafa;
  width: 28px;
  height: 28px;
  cursor: pointer;
  transition: transform 0.3s ease, stroke 0.3s ease;
}

.header-modal-svg:hover,
.header-modal-svg:focus {
  transform: scale(1.1);
  stroke: var(--red-accent);
}

.header-modal-menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header-modal-menu-item {
  display: flex;
  justify-content: center;
}

.header-modal-menu-link {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  position: relative;
  display: inline-block;
  transition: color 0.3s ease;
}

.header-modal-menu-link:hover,
.header-modal-menu-link:focus {
  color: var(--red-accent);
}

.header-modal-menu-link::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--red-accent);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-in-out;
}

.header-modal-menu-link:hover::after,
.header-modal-menu-link:focus::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.header-modal-link {
  display: block;
  max-width: 164px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  border-radius: 60px;
  padding: 14px 31.5px;
  background-color: var(--red-accent);
  transition: background-color 0.3s ease;
}

.header-modal-link:hover,
.header-modal-link:focus {
  background-color: #e0373f;
}

.modal-is-visible {
  display: flex;
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.no-scroll {
  overflow: hidden;
}
